name: CI - Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm" # 公式推奨の lockfile キャッシュだけを使う

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build
