name: CI

on:
  push:
    branches: [main, latest]
  pull_request:
    branches: [main, latest]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm" # lockfile ベースのキャッシュ（壊れにくい）

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Type-check
        run: npm run type-check

      - name: Build
        run: npm run build

      - name: Security audit
        run: npm audit --production
